<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr13.belajarbahasajawa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Belajar Bahasa Jawa"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity_satu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_dua"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_tiga"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_empat"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_lima"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_enam"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_tujuh"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activity_delapan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".asalusul"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".pasangan"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".sandangan"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".akswara"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".akrekan"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".akmurda"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".akwilangan"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".tandabaca"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".penulisan"
            android:parentActivityName=".asalusul"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
    </application>

</manifest>